extends layout

block content
  h1.text-center Aún no tienes productos agregados.
    //- a(href="#") Se el primero en agregar
  .container
    .panel.panel-primary(style="text-align: center")
      .panel-heading 
      .panel-body
        p
      table.table
